<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Account Standard report</h2>
    <h3 class="oe_slogan">Use the accounting module with the standard report.</h3>
    <h2 class="oe_slogan" style="color:#875A7B;">Features</h2>
    <p class="oe_mt32 oe_mb32 text-justify">
      This module can generate a accounting report in Odoo Tree View, PDF and Excel, with the new implementation of the accounting from Odoo V9.</p>
    <p class="oe_mt32 oe_mb32 text-justify">
      In this new implementation there are not openning entries, it is a continously accounting. And in some case in repport the matching have no sense, because some moves are matched with the next year (or after the end date).</p>
    <h3 class="oe_slogan">Initial balance</h3>
    <p class="oe_mt32 oe_mb32 text-justify">
      Initial Balance with detail on unmatching moves from payable/receivable account.</p>
    <p class="oe_mt32 oe_mb32 text-justify">
      With ou without reduced balance (credit or debit egual zero) on payable/receivable account.</p>
    <p class="oe_mt32 oe_mb32 text-justify">
      Use the fiscal date of company to generate the initial balance.</p>
    <h3 class="oe_slogan">Matching Number</h3>
    <p class="oe_mt32 oe_mb32 text-justify">
      Management of macthing after the end date (replace by * if one move is dated after the end date).</p>
    <p class="oe_mt32 oe_mb32 text-justify">
      The partner ledger unreconciled don't change over time, because the unreconciled entries stay unreconciled even if there are reconcilied with an entrie after the end date.</p>
    <h3 class="oe_slogan">Very fast generation by SQL Engine</h3>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">All reports access from one place.</h2>
    <h3 class="oe_slogan">Easy Use</h3>
    <div class="oe_span6 text-justify oe_mt32">
      <span class="fa fa-search fa-2x pull-left" />
      <p class="oe_mb32" style="margin-left:48px;">
        Helper for the periode.
      </p>
      <span class="fa fa-sliders fa-2x pull-left" />
      <p class="oe_mb32" style="margin-left:48px;">
        Easy configuration.
      </p>
      <span class="fa fa-bar-chart fa-2x pull-left"></span>
      <p>
        Real-time reports viewing with Odoo Tree View Mode.
      </p>
    </div>
    <div class="oe_span6">
      <img class="oe_picture oe_screenshot" src="main_screenshot.png">
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">General ledger</h2>
    <div class="oe_demo oe_picture oe_screenshot">
      <img src="general.png">
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Partner ledger</h2>
    <div class="oe_demo oe_picture oe_screenshot">
      <img src="partner.png">
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Aged Balance</h2>
    <div class="oe_demo oe_picture oe_screenshot">
      <img src="aged.png">
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">PDF Report</h2>
    <h3 class="oe_slogan">Hight Quality Report</h3>
    <div class="oe_demo oe_picture oe_screenshot">
      <img src="pdf.png">
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Excel Report</h2>
    <h3 class="oe_slogan">Pivot Feature</h3>
    <div class="oe_demo oe_picture oe_screenshot">
      <img src="excel.png">
    </div>
  </div>
</section>

<section class="oe_container oe_separator">
</section>
